<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center"> {{!--Margen en Y centrado--}}
            <h1 class="mb-1 mt-5">Web App</h1>
            <h3 class="mb-5 mt-2">
               {{!-- <em>Store your favorites links</em>--}}
            </h3>
            <a href="/signin" class="btn btn-primary">Let's get Started</a>
        </div>
    </header>
</main>