{{!--Formulario Sign IN - Logueo--}}

<div class="container p-4">
    <div class="row">
        {{!--Centramos asignandole margen--}}
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header ">
                    <h4>Bienvenido de nuevo!</h4>
                </div>
                <div class="card-body">
                    {{!--card-img-top mx-auto m-2 rounded-circle w-50: posicion superior, margen auto centrado, mas 2 a cada lado y con un ancho de 50px--}}
                    <img src="/img/logo2.jpg" class="card-img-top mx-auto mb-3 rounded-circle w-50"
                        alt="LogoEjemplo">
                    {{!--Form post--}}
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            {{!-- Campo usuario--}}
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            {{!-- Campo password--}}
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                       <!-- <div class="form-group">
                            {{!--Campo Cooperativa--}}
                            <select name="cooperativa" id="elm_cop" class="form-control"> {{!-- elemento cooperativa--}}
                                <option value="1"> Prueba1</option>
                            </select>
                        </div>-->
                        <div class="form-group">
                            {{!-- Boton estirado al ancho--}}
                            <button class="btn btn-success btn-block mt-2 mb-2">
                                LogIn
                            </button>
                            <a href="/signup" class="btn btn-primary btn-block">SignUp</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>