<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      
      <div class="card text-center">
        
        <div class="card-header">
          <h3>SignUp</h3>
        </div>

        <div class="card-body">
            <img src="/img/logo2.jpg" class="card-img-top mx-auto mb-3 rounded-circle w-50"alt="LogoEjemplo">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <input type="type" name="fullname" placeholder="Full Name" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                        <div class="form-group">
                            {{!-- Boton estirado al ancho--}}
                            <button class="btn btn-success btn-block mt-2 mb-2">
                                SignUp
                            </button>
                            <a href="/signin" class="btn btn-primary btn-block">LogIn</a>
                        </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>